<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Img_name</th>
      <th>Collar</th>
      <th>Hood</th>
      <th>Neckline</th>
      <th>Pocket</th>
      <th>Sleeve</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5ec5a5e8-6dce-4be2-ad52-c5f96f6035cd.jpg</td>
      <td>True</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c16141e3-82c7-46d6-bee2-67ffa5f640e1.jpg</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>d3542af8fd34eb0b3807a62238179261.jpg</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>True</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test1.jpg</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>True</td>
    </tr>
  </tbody>
</table>